
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<br />
<br />
<br />
<br />
<br />

<h2>Index</h2>

<ul>
    <li>@Html.ActionLink("English", "Change", "Language", new { LanguageAbbrevation = "en" }, null)</li>
    <li>@Html.ActionLink("Bangla", "Change", "Language", new { LanguageAbbrevation = "bn" }, null)</li>
</ul>

<style>
    .top-header-area {
        background-color: #ffa500; /* Orange background color */
        padding: 15px 0; /* Adjust padding as needed */
    }
</style>