@model IEnumerable<FinalProject.Models.Category>
@{
    ViewBag.Title = "Index";
}

@*<script src="~/Scripts/jquery-3.7.1.js"></script>

<script>
    $(document).ready(function () {
        $("#searchBox").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#myTable tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });
</script>*@

<br />
<br />
<br />
<br />


<div class="container">
    <h2>View Category</h2>
    @*<div class="form-group">
        <input type="text" class="form-control col-lg-4 ml-auto" placeholder="Search Here" id="searchBox" />
    </div>*@
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody id="myTable">
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.CategoryId</td>
                    <td>@item.Name</td>
                    <td>
                        <a href="@Url.Action("Edit", "Category", new { id = item.CategoryId})" class="btn btn-info">Edit</a>
                        <a href="@Url.Action("Delete", "Category", new { id = item.CategoryId})" class="btn btn-danger">Delete</a>
                    </td>

                </tr>
            }
        </tbody>
    </table>


</div>

<style>
    .top-header-area {
        background-color: #ffa500; /* Orange background color */
        padding: 15px 0; /* Adjust padding as needed */
    }
</style>


